body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffff;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: none;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffff;
    display: block;
    transition: 0.3s;
}

.menu a:hover {
    color: #ff21ff;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #010101;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #ff21ff;
}
